/* Partie commune à toutes les pages */

html{
    font-family: Montserrat,sans-serif;
    font-size: 13px;
    color:white
}

a {
    text-decoration: none;
    color:slategrey;
}

/* Barre de navigation */

.nav{
    width: 100%;
    text-align: left;
    max-width: 96%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background: white;
    border: none;
    color:slategrey;
    font-size: 12px;
    text-decoration: none;
}

.logo{
    margin-top: 0.5%;
    width: 15%;
    display: inline-block;
}

.nav-item{
    display: inline-block;
    padding: 0.5% 1% 0px;
    font-weight: 500;
}

hr{
    border-top: 1px white;
}

/* Box */

.grid-container{
    display: flex;
    justify-content: center;
}

/* J'ai trouvé comment les grids fonctionnaient sur ce site :
https://www.w3schools.com/css/css_grid.asp */
.grid{
    background: #3a70e0;
    display: grid;
    box-sizing: content-box;
    grid-template-columns: 50% 50%;
}

.flexbox{
    padding-left:14%;
    padding-right: 12%;
    padding-top: 8%;
}

/* J'ai trouvé comment les grids fonctionnaient sur ce site :
https://www.w3schools.com/cssref/css3_pr_box-sizing.asp */
.subheading{
   box-sizing: content-box;
   background: #f46252;
   font-size: 61%;
   font-weight: 700;
   padding: 0.5%
}

h1{
    margin-top: 0%;
}

@media screen and (min-width:1301px) {
    .grid-container{
        height: 750px;
        margin-left:9%;
        margin-right:11%;
    }
    h1{
        font-size: 550%;
    }
    .subheading{
        width: 19%;
    }
}
@media screen and (max-width:1300px) {
    .grid-container{
        height: 500px;
        margin-left:4%;
        margin-right:6%;
    }
    h1{
        font-size: 400%;
    }
    .subheading{
        width: 25%;
    }
}

#new_in_february-img{
    float:right;
    width: 86%;
    padding-left: 20%;
    padding-top:10%;
}

button{
    margin-top: 5%;
    width: 30%;
    height: 5%;
    border-radius: 15px;
    color:grey;
    border-color: transparent;
    background-color: white;
    font-family: Montserrat,sans-serif;
    font-size: 85%;
}
