a{
    text-decoration: none;
}

/*.nav_href{
    color:black;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}*/
.nav{
    text-align: right;
    padding-top: 10px;
    max-width: 1180px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    background: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* this class is for the navigation bar links at the top of our page*/

.nav a{
    /*font-size:16px;*/
    /*background: transparent;
    border: none;*/
    color: slategrey;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-a{
    padding-top: 5px;
}
/*
.caron {
  border: red;
  color: slategrey;
  border-width: 1px 1px 0px 0;
  display: inline-block;
  padding: 1px;
  transform: rotate(45deg);
  transform: rotate(135deg);
}*/

#logo {
    margin-left: 13px;
    float: left;
}

#sign_in {
    margin-right: 20px;
}

.menu-section{
    padding-top: 20px;
    padding-bottom: 70px;

}

.menu {
    text-align: center;
    max-width: 1180px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size:16px;
    color:slategrey;
    background: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 20px;
}

#actual-section{
    margin-left: 20px;
    float: left;
    font-weight: 500;
    font-size: 20px;
    color:black;
}

#search-icon{
    float: right;
    margin-right: 20px;
    font-weight: 500;
}

hr{
    border-top: 1px grey;
}

.blog{
    text-align: justify;
    width:min-content;
}

.blogs-section {
  display: flex;
  justify-content: center;
  align-items: center;

}

.blogs-grid{
    align-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 90px;
    grid-row-gap:40px;
    max-width: 1180px;
    /*margin-left: 400px;*/
    /*vh vw*/
}

.blog-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color:black;
}

.blog-category{
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom:  10px;
}

.blog-description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:darkgray;
    text-align: left;
}

.blog-author{
    display:inline;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 14px;
    color:black;
}
.blog-date{
    display:inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:grey;
}
img{
    border-radius: 8px;
}
