
a:link{
    color:black;
    text-decoration: none;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav {
    text-align: right;
    padding-top: 7px;
}

/* this class is for the navigation bar links at the top of our page*/

.nav a{
    font-size:16px;
    color:slategrey;
    background: transparent;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

#sign_in {
    border-left:red;
    margin-left: 39px;
    margin-right: 66px;
}

.caron {
  border: red;
  color: slategrey;
  border-width: 1px 1px 0px 0;
  display: inline-block;
  padding: 1px;
  transform: rotate(45deg);
  transform: rotate(135deg);
}

#logo {
    margin-left: 53px;
    float: left;
    /*margin-top: 0px;*/
    /*padding-top: 0px;*/
}

.menu {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size:16px;
    color:slategrey;
    background: transparent;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.blog{
    text-align: justify;
    width:min-content;
}

.blogs-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.blog-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.blog-description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:darkgray;
}

img {
    border-radius: 8px;
  }