
/* ALL PAGE COMMON */

html{
    font-size: 20px;
}

body{
    width: 100%;
    font-family: "Graphik Web", sans-serif;
    font-size: .9rem;
    line-height: 1.5;
    color: #55647b;
    letter-spacing: normal;
}

/*SECTION CONTAINER utilisé dans le début d'une section */
div.section-container{
    max-width: 1180px;
    margin-bottom: 140px;
    align-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

h2{
    font-size: 2rem;
}
header.main-header{
    color: #bfc1c4;
    justify-content: center;
}

hr.main-nav-hr{
    width: 100%;
    color: #2c2c2c38;
    border-width: 0.5px;
}


a {
    color: #131a2b;
    text-decoration: none;
}

.nav {
    text-align: right;
    padding-top: 7px;
    margin-left: auto;
    margin-right: auto;
    width: 1180px;
    height: 100%;

}

/* this class is for the navigation bar links at the top of our page*/

.nav a{
    font-size:16px;
    color:slategrey;
    background: transparent;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}

#sign_in {
    border-left:red;
    margin-left: 39px;
    margin-right: 66px;
}

.caron {
  border: solid black;
  border-width: 1px 1px 0px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  transform: rotate(135deg);
}

#logo-nav {
    
    float: left;
    justify-content: center;
    /*margin-top: 0px;*/
    /*padding-top: 0px;*/
}

/* SUB MENU SYDNEY */

div.second-header{
    width: 1180px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

nav.sub-nave{
    text-align: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

a.no-link-ref{
    font-size: 1.3rem;
    color: black;
    font-family: 'Roboto',sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
}

a.link-ref-active-sub-menu{
    font-size: 1rem;
    color:blue;
    font-family: 'Roboto',sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
}

a.link-ref-sub-menu{
    font-size: 1rem;
    color: grey;
    font-family: 'Roboto',sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* BODY*/
/* PAGE COUNTAINER SECTION 1*/
div.countainer-sydney-section1{
    width: 862px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
    text-align: center;
}

/* PAGE TITLE */
h1.page-section-title{
    font-size: 2.5em;
    margin-bottom: 3rem;
    font-family: "Graphik Web", sans-serif;
    margin-bottom: 1.7em;
    color: black;
}



/* FIRST PARAGRAPH*/
div.first-paragraph{
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
p#sydney-description{
    line-height: 1.5;
    color: slategray;
    text-align: center;
    margin-top: -.35rem;
    margin-bottom: 2rem;
    letter-spacing: normal;
}

/* ELEMENTOR IMG LINK*/
div.elementor-img-link span,p{
    margin-bottom: 0.5rem;
}
p#recommended-by-ele{
    color:slategray;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    margin-top:0rem;
}

span.elementor-bold-caps{
    color:slategray;
    text-align: center;
    font-family: 'Roboto',sans-serif;
}

/* IMG HARDWARD*/
div.img-hardward{
    margin-bottom: 30px;
}
/* three-botton-wrapper*/
div.three-botton-wrapper {
    max-width: 1200px;
    box-sizing: border-box;
    margin:auto;

}
/* BOTTON DEMO*/
a.demos-btn {
    display: inline-flex;
    align-items: center;
    padding: .55rem 1.5rem .6rem;
    font-family: "Graphik Web", sans-serif;
    font-size: .85rem;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    color: #4769d8;
    background-color: #e7ebfa;
    border-radius: .2rem;
    max-width: 100%;
    margin: 20px 10px 0;
}

/* BOTTON DOWNLOAD*/
a.download-btn {
    display: inline-flex;
    align-items: center;
    padding: .55rem 1.5rem .6rem;
    font-family: "Graphik Web", sans-serif;
    font-size: .85rem;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    background-color: #3fb28f;
    border-color: #3fb28f;
    border-radius: .2rem;
    max-width: 100%;
    margin: 20px 10px 0;
}

/* BUTTON GO PRO*/

/* BOTTON DOWNLOAD*/
a.go-pro-btn {
    display: inline-flex;
    align-items: center;
    padding: .55rem 1.5rem .6rem;
    font-family: "Graphik Web", sans-serif;
    font-size: .85rem;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    color: white;
    background-color: #ea2e49;
    border-color: #ea2e49;
    border-radius: .2rem;
    max-width: 100%;
    margin: 20px 10px 0;
}


/* PAGE SECTION INFO */
section.info-section{
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #fafbfd;
}


div.page-info-delimitter{
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
}

/* info container */
.info-container-flex{
    display: flex;
    margin-top: -40px;
    margin-right: -60px;
    margin-left: -60px;
}

.left-info-container{
    max-width: 100%;
    width: 33%;
    padding-top: 40px;
    padding-right: 60px;
    padding-left: 60px;
}


div.left-info-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    font-size: .7rem;
}

#theme-support{
    display: inline-block;
    font-size: 0.7rem;
}

.left-info span{
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;

}

div.middle-info-container{
    max-width: 100%;
    width: 33%;
    padding-top: 40px;
    padding-right: 60px;
    padding-left: 60px;
}

div.middle-info-container{
    display: flex;
    flex-wrap: wrap;
}

.middle-info-container span{
    margin-right: 20px;
}

.upper-text-info{
    display:block;
    color: rgb(52, 101, 236);
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    color: currentColor;
}

.lower-text-info{
    font-size: .8rem;
    color: #55647b;
    padding: 10px;
    margin: 10px;
}

div.right-info-container{
    max-width: 100%;
    display: flex;
    padding-top: 40px;
    padding-right: 60px;
    padding-left: 60px;
}

.right-info-container a{
    display: flex;
    align-content: space-between;
}

#documentation{
    display: inline-block;
    font-size: 0.7rem;
}

/* PAGE THEME FEATURE */

h1.page-title{
    width: 450px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 2rem;
    font-family: "Graphik Web", sans-serif;
    color: #131a2b;
}
div.theme-feature-container{
    width: 1030px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

}
div.flex-container {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

div.flex-theme-column {
    max-width: 50%;
}

div.flex-item{
    text-align: left;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 70px 70px 0 70px;
    background-color: #f8f9fd;
    border-radius: .45rem;
}

.flex-item-title{
    font-size: 1.5rem;
}

.flex-item-text{
    font-size: 1rem;
}

.flex-item-img-container img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

/* SECTION DARK */

section.included-dark-section{
    background-color: #242d43;
    padding-top: 140px;
    padding-bottom: 140px;
    text-align: center;
}


div.section-text-dark{
    width: 470px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

h2.title-dark-section{
    color:white;
}

.included-dark-section p{
    color: #95aaca;
}

div.dark-flex-item{
    text-align: left;
    padding-top: 60px;
    padding-right: 3%;
    padding-left: 3%;
    flex-grow: 1;
    max-width: 27%;


}

div.dark-item-icon{
    height: 40px;
    margin-bottom: 15px;
}

div.dark-item-title{
    color: #ffffff;
}


div.dark-item-description{
    color: #95aaca;
    font-size: .8rem;
    text-align: left;
}

.create-website-section{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    text-align: center;
}


.title-section {
    margin-top: 0;
    margin-bottom: 1.7rem;
    font-family: "Graphik Web", sans-serif;
    font-weight: 500;
    line-height: 1.4;
    color: #131a2b;
    text-transform: none;
    letter-spacing: normal;
}

.btn-group{
    justify-content: center;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: -20px -10px 0;
}


section.media{
    margin-top: 140px;
}

.btn-media-btn-row{
    display: flex;
}



.media-container{
    padding: 30px;
    text-align: left;
    border: 1px solid #dde2ea;
    border-radius: .25rem;
}

.media-img{
    margin-right: 20px;
    display: inline-block;
    align-items: center;

}


.media-img img{
    border-radius: 50%;
    
}
.media-body{
    display:inline-block;
}
.media-name{
    font-weight: bold;
    align-items: center;
}
/* FOOTER */
footer {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f0f4f8;
}
/* Container */

/* TOP */
.footer-top-container{
    border-bottom: 1px solid #e0e6ee;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;

}
/* FELLOW */
.follow-network{
    overflow-x: hidden;
    background-color: #f0f4f8;
    max-width: 33%;
}

.network-fellow-flex-container{
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
    margin-left: 40px;
    align-items: center;
    font-size: 1rem;
    color: #131a2b;
    text-align: left;
    font-family: "Graphik Web", sans-serif;
    flex-grow: 1;
    max-width: 100%;
    font-weight: 500;
}

.logo-twitter-facebook{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}


.facebook{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 16px 8px 0;
    background-color: #b4c2ef;
    border-radius: 100%;
}

.twitter{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 16px 8px 0;
    background-color: #b4c2ef;
    border-radius: 100%;
}

/* SUBSCRIBE */
.subscribe-form-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 67%;
    padding-right: 50px;
    padding-left: 50px;
    align-content: center;

}

.form-subscribe{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;    
}

div#label-subscribe-form{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
    font-weight: bold;
    color: black;
    font-family: "Graphik Web", sans-serif;
    max-width: 30%;
}

.update-form-text-place-holder{
    border: 0;
    color: #131a2b;
    vertical-align: center;
    font-family: "Graphik Web", sans-serif;
    font-size: .9rem;
}

.update-form{
    padding-right: 10px;
    background-color: #fff;
    border-radius: .25rem;
    position: relative;
    display: inline-flex;
    
}

.btn-subscribe{
    font-family: "Graphik Web", sans-serif;
    font-size: .85rem;
    color: #fff ;
    white-space: nowrap;
    background-color: #4769d8;
    border: 1px solid #4769d8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: .25rem;
    
}
/* FOOTER-BODY */
.footer-body-container{
    padding-top: 40px;
    line-height: 1.5;
    font-size: .7rem;
    color: #55647b;
    padding-left: 30px;
    padding-right: 30px;
}
/* COUNTAINER */
    /* GRID */
.footer-body-grid{
    display: flex;
    flex-wrap: wrap;
    
    margin-top: -60px;
    margin-right: -50px;
    margin-left: -50px;
    padding-top: 60px;
    padding-right: 50px;
    padding-left: 50px;
}

#logo-footer{
    display: flex;
}

    /* ITEM */
.footer-body-grid-item-left{
    max-width: 34%;
    padding-left: 40px;
    padding-right: 40px;
}
.footer-body-grid-item-middle{
    max-width: 36%;
    padding-left: 40px;
    padding-right: 40px;
}
.footer-body-grid-item-right{

    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-body-grid-item-left p{
    text-align: justify;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.71;
}
div.footer-menu-list{
    width: 100%;
}
div.footer-menu-list-middle ul{
    flex-direction: column;
    column-count: 2;
    padding: 0;
    margin :0;
    justify-content: space-around;
    align-content: flex-start;
}

div.footer-menu-list-right ul{
    padding: 0;
    margin :0;
    text-align: justify;
}

.menu-item {
    line-height: 1.7rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-h3-title{
    text-align: left;
    margin-bottom: 20px;
    font-size: .8rem;
    font-weight: 500;
    color: #131a2b;
}

footer a{
    display: flex;
    font-size: .7rem;
    line-height: 1.71;
    color: #55647b;
    padding: 0;
    margin: 0;
}



/* BOTTOM */

.footer-bottom-container{
    padding-top: 40px;
    text-align: left;
    line-height: 1.5;
    font-size: .5rem;
    color: #55647b;
}