/* Noms et matricules
Thalie St-Jacques (20074387)
Jérémie Tousignant (1038501) */
#nav-profil, #nav-contact,#nav-portfolio, div, section{
    color: #000033;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
