#nav-profil, #nav-contact,#nav-portfolio, div, section{
    color: #000033;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

h1{

}
h2{

}
h3{

}
h4{

}
